node_modules/
.DS_Store
static/sounds/original_audio/520998_10756146-lq.mp3
static/sounds/original_audio/freesound_community-alarm-beep-34359.mp3
static/sounds/original_audio/freesound_community-alarm-clock-beep-105903.mp3
static/sounds/original_audio/freesound_community-start-sound-beep-102201.mp3
static/sounds/original_audio/pwlpl-countdown-beep-377323.mp3
static/sounds/original_audio/u_8quitk9nqe-beep-alarm-366507.mp3
